<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CHRP Simulation Platform Automation Suite" verbose="1">

    <listeners>
        <listener class-name="superadmin.listener.Listener"/>
    </listeners>

    <test name="Super Admin Smoke &amp; Organization Tests">
        <classes>
            <class name="superadmin.tests.SmokeTest"/>
            <class name="superadmin.tests.OrganizationTest"/>
        </classes>
    </test>

    <test name="Super Admin Catalogue &amp; Governance Tests">
        <classes>
            <class name="superadmin.tests.CatalogueAndGovernanceTest"/>
        </classes>
    </test>

    <test name="Super Admin Role Switch Tests">
        <classes>
            <class name="superadmin.tests.RoleSwitchTest"/>
        </classes>
    </test>

    <test name="Super Admin Developer Portal Tests">
        <classes>
            <class name="superadmin.tests.DeveloperPortalTest"/>
        </classes>
    </test>

    <test name="Client Portal Admin Core Tests">
        <classes>
            <class name="clientportaladmin.tests.ClientSmokeTest"/>
            <class name="clientportaladmin.tests.ClientUserManagementTest"/>
        </classes>
    </test>

    <test name="Client Portal Admin Curriculum &amp; Reports Tests">
        <classes>
            <class name="clientportaladmin.tests.ClientCurriculumAndContentTest"/>
            <class name="clientportaladmin.tests.ClientReportsAndSyncTest"/>
        </classes>
    </test>

    <test name="Client Portal Manager Tests">
        <classes>
            <class name="clientportalmanager.tests.ManagerSmokeTest"/>
        </classes>
    </test>

    <test name="Client Portal Trainer Tests">
        <classes>
            <class name="clientportaltrainer.tests.TrainerSmokeTest"/>
        </classes>
    </test>

</suite>
